node_modules/
www/
dist/
.env
*.log

# Sandbox artefaktlari
/.bashrc
/.zshrc
/.gitconfig

# Android build artefaktlari
android/app/build
android/build
android/.gradle
android/local.properties
android/app/src/main/assets/public
